html {
    font-size: 16px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    background-color:#F2F2F2;
    color: #4D4D4D;
    line-height: 1.2;
    max-width: 625px;
  }
  
  table e { border-collapse:collapse;} th {text-align:left;
    padding:0.5rem;} td {border-top:1px solid #4f4f4f;
    padding: 0.5rem;}



  h1,h2,h3,h4 { text-transform: uppercase; }


  a:link  {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    color: #110d0d;


}



a:visited {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    color:#26268a;


}

a:hover {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    color:#9B1C1C;


}

a:active {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    color:#1F5610;
  

}


figcaption {


    float: left;
    margin:auto; 
    font-size: small;

   

}

.main-navigation {
  list-style: none;
    margin: 0;
    padding: 0;

  }

.main-navigation>li {
  display: inline-block;
  border: 2px solid #124378;
  padding: 0.4rem;





}

figure {

    margin-left: 0;

}

